html {
  font-size: 62.5%;
  background-image: url(../assets/bg.png);
}
* {
  margin: auto;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 192rem;
}
.login-o3w {
  box-sizing: border-box;
  padding: 4.4rem 3.8rem 2.35rem 3.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: none;
}
.login-o3w .loginheader-74d {
  margin: 0rem 52.7rem 18rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
#miniLogo {
  margin: 10rem;
  width: 13.1961rem;
  height: 9.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-o3w .loginheader-74d .todoktitle-x5F {
  margin-left: 53.7rem;
  width: 78rem;
  height: 9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-o3w .loginbox-6BT {
  margin: 0rem 56.2rem 18.9rem 56.1rem;
  width: calc(100% - 112.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-o3w .loginbox-6BT .auto-group-xsar-2L1 {
  margin-bottom: 3rem;
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-o3w .loginbox-6BT .auto-group-xsar-2L1 .inputbox-mYV {
  margin-right: 4.6rem;
  width: 49.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  flex-shrink: 0;
}
.login-o3w
  .loginbox-6BT
  .auto-group-xsar-2L1
  .inputbox-mYV
  .auto-group-jqam-tND {
  margin-bottom: 2.3rem;
  box-sizing: border-box;
  padding: 0.15rem 2.5rem 0.05rem 2.5rem;
  width: 100%;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #8b7a7a;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background-color: rgba(247, 247, 247, 0.8000000119);
  border-radius: 1rem;
  flex-shrink: 0;
  outline: none;
}
.login-o3w
  .loginbox-6BT
  .auto-group-xsar-2L1
  .inputbox-mYV
  .auto-group-yafk-2sj {
  box-sizing: border-box;
  padding: 0.1rem 2.5rem 0.2rem 2.5rem;
  width: 100%;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #8b7a7a;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background-color: rgba(247, 247, 247, 0.8000000119);
  border-radius: 1rem;
  flex-shrink: 0;
  outline: none;
}
.login-o3w .loginbox-6BT .auto-group-xsar-2L1 .loginbtn-ghP {
  width: 18rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.15rem;
  color: #606060;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background-color: rgba(52, 152, 219, 0.5500000119);
  border-radius: 3rem;
  flex-shrink: 0;
  border: none;
}
.login-o3w .loginbox-6BT .joinbtn-KEZ {
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-o3w .loginbox-6BT .joinbtn-KEZ .kakaojoinbtn-sG5 {
  margin-right: 2.5rem;
  box-sizing: border-box;
  padding: 2.2rem 4.85rem;
  width: 24.5rem;
  height: 100%;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background-color: rgba(254, 229, 0, 0.5500000119);
  border-radius: 3rem;
  flex-shrink: 0;
}
.login-o3w .loginbox-6BT .joinbtn-KEZ .kakaojoinbtn-sG5 .kakaojointext-ofX {
  max-width: 14.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  text-align: center;
  letter-spacing: 0.15rem;
  color: #606060;
  background-color: transparent;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  border: none;
}
.login-o3w .loginbox-6BT .joinbtn-KEZ .naverjoinbtn-qcD {
  margin-right: 2.6rem;
  box-sizing: border-box;
  padding: 2.2rem 4.85rem;
  width: 24.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background-color: rgba(3, 199, 90, 0.5500000119);
  border-radius: 3rem;
  flex-shrink: 0;
  border: none;
}
.login-o3w .loginbox-6BT .joinbtn-KEZ .naverjoinbtn-qcD .naverjointext-Ns3 {
  max-width: 14.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  text-align: center;
  letter-spacing: 0.15rem;
  color: #606060;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  background-color: transparent;
  border: none;
}
.login-o3w .loginbox-6BT .joinbtn-KEZ .joinbtn-3CV {
  width: 18rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.15rem;
  color: #606060;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background-color: rgba(52, 152, 219, 0.5500000119);
  border-radius: 3rem;
  flex-shrink: 0;
  border: none;
}
.login-o3w .joinfooter-fzZ {
  margin: 0 12.2rem;
  width: calc(100% - 24.4rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.login-o3w .joinfooter-fzZ .joinfooterline-cQ1 {
  margin-bottom: 0.85rem;
  width: 160rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-o3w .joinfooter-fzZ .footerline {
  width: 160rem;
  height: 0.3rem;
  background-color: #3498db;
  opacity: 0.55;
}
.login-o3w .joinfooter-fzZ .joinfootertext-YYZ {
  margin-left: 0.8rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #606060;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
