@font-face {
  font-family: 'Nanum AmSeuTeReuDam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Amsterdam.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
  background-image: url(../assets/bg.png);
}
* {
  margin: auto;
  padding: 0;
  font-family: 'Nanum AmSeuTeReuDam', serif;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 192rem;
  padding: -10rem;
}
.main-eLH {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.main-eLH .auto-group-2bkm-y7f {
  width: 140rem;
  height: 64.95rem;
  position: absolute;
  left: 18.3rem;
  top: 20rem;
  display: flex;
  align-items: flex-end;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF {
  margin: 0rem 66.2rem 0rem 0rem;
  box-sizing: border-box;
  padding: 3.8rem 4.5rem 6.6rem 4.4rem;
  width: 49.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.4199999869);
  border-radius: 4rem;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .calheader-nL1 {
  margin: 0rem 0.2rem 3.5rem 0.4rem;
  width: calc(100% - 0.6rem);
  height: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calheader-nL1
  .auto-group-bh6z-tdw {
  margin-bottom: 2.55rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calheader-nL1
  .auto-group-bh6z-tdw
  .leftbtn-2EM {
  margin: 0rem 7.7rem 0.2rem 0rem;
  width: 2.2996rem;
  height: 4.0001rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calheader-nL1
  .auto-group-bh6z-tdw
  .yearmonth-YTb {
  margin-right: 7.8095rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.2rem;
  color: #606060;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calheader-nL1
  .auto-group-bh6z-tdw
  .rightbtn-2tZ {
  margin-bottom: 0.1427rem;
  width: 2.2004rem;
  height: 4.1008rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .calheader-nL1 .calbottomline-MA9 {
  width: 40.6rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .caldays-suB {
  width: 100%;
  height: 6.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .caldays-suB .days-Rfo {
  width: 5.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .days-Rfo
  .daybox-BQ5 {
  width: 5.8rem;
  height: 5.4197rem;
  position: absolute;
  left: 0;
  top: 0.0365rem;
  object-fit: contain;
  vertical-align: top;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .caldays-suB .days-Rfo .sun-7oX {
  width: 2.2rem;
  height: 4.5rem;
  position: absolute;
  left: 1.85rem;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ec7e7e;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .caldays-suB .auto-group-cjxt-byb {
  box-sizing: border-box;
  padding: 0.0365rem 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-LgH {
  width: 5.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-LgH
  .daybox-hFw {
  width: 5.8rem;
  height: 5.4197rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-LgH
  .mon-SDX {
  width: 2.2rem;
  height: 4.5rem;
  position: absolute;
  left: 1.85rem;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #606060;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-8s3 {
  width: 5.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-8s3
  .daybox-Vhb {
  width: 5.8rem;
  height: 5.4197rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-8s3
  .tue-FRs {
  width: 2.2rem;
  height: 4.5rem;
  position: absolute;
  left: 1.85rem;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #606060;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-ME1 {
  width: 5.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-ME1
  .daybox-hYm {
  width: 5.8rem;
  height: 5.4197rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-ME1
  .wen-rRf {
  width: 2.2rem;
  height: 4.5rem;
  position: absolute;
  left: 1.85rem;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #606060;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-Z5B {
  width: 5.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-Z5B
  .daybox-WWD {
  width: 5.8rem;
  height: 5.4197rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-Z5B
  .tur-GEV {
  width: 2.2rem;
  height: 4.5rem;
  position: absolute;
  left: 1.85rem;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #606060;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-dUM {
  width: 5.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-dUM
  .daybox-Bkm {
  width: 5.8rem;
  height: 5.4197rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-dUM
  .fri-wE9 {
  width: 2.2rem;
  height: 4.5rem;
  position: absolute;
  left: 1.85rem;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #606060;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-3HB {
  width: 5.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-3HB
  .daybox-oGM {
  width: 5.8rem;
  height: 5.4197rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .caldays-suB
  .auto-group-cjxt-byb
  .days-3HB
  .sat-Ln5 {
  width: 2.2rem;
  height: 4.5rem;
  position: absolute;
  left: 1.85rem;
  top: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3f6ee7;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .calnum-qyj {
  width: 100%;
  height: 40rem;
  position: relative;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .calnum-qyj .numbers-bCD {
  width: 5.8rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .calnum-qyj .auto-group-yee5-VHb {
  box-sizing: border-box;
  padding-left: 2.1rem;
  width: 40.5rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 8rem;
  display: flex;
  align-items: center;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-yee5-VHb
  .item-1-113 {
  width: 5.8rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-yee5-VHb
  .item-1-huT {
  width: 5.8rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-yee5-VHb
  .item-1-RKf {
  margin: 0.1rem 2.55rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-yee5-VHb
  .item-1-8zm {
  margin: 0.1rem 2.6rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-yee5-VHb
  .item-1-Tn9 {
  margin: 0.1rem 1.3rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-yee5-VHb
  .auto-group-eu5k-MMj {
  box-sizing: border-box;
  padding: 2rem 1.25rem 1.9rem 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-yee5-VHb
  .auto-group-eu5k-MMj
  .item-1-5Yd {
  margin-right: 2.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-yee5-VHb
  .auto-group-eu5k-MMj
  .item-1-pFK {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .calnum-qyj .auto-group-x7sh-wqj {
  box-sizing: border-box;
  padding: 0rem 1.3rem 0rem 1.35rem;
  width: 40.5rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 16rem;
  display: flex;
  align-items: center;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-x7sh-wqj
  .item-1-DYM {
  width: 5.8rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-x7sh-wqj
  .item-1-jWh {
  margin: 0.1rem 2.6rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-x7sh-wqj
  .item-1-Svu {
  margin: 0.1rem 2.6rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-x7sh-wqj
  .item-1-Zkd {
  margin: 0.1rem 1.25rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-x7sh-wqj
  .auto-group-tok7-f2y {
  margin-right: 1.3rem;
  box-sizing: border-box;
  padding: 2rem 1.3rem 1.9rem 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-x7sh-wqj
  .auto-group-tok7-f2y
  .item-1-avd {
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-x7sh-wqj
  .auto-group-tok7-f2y
  .item-1-7Qm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-x7sh-wqj
  .item-1-RRT {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .calnum-qyj .auto-group-wrbp-XjP {
  box-sizing: border-box;
  padding-left: 1.35rem;
  width: 40.4rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 24rem;
  display: flex;
  align-items: center;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-wrbp-XjP
  .item-1-eJD {
  width: 5.8rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-wrbp-XjP
  .item-1-Xso {
  margin: 0.1rem 2.6rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-wrbp-XjP
  .item-1-dA9 {
  margin: 0.1rem 1.25rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-wrbp-XjP
  .auto-group-v8kh-trm {
  box-sizing: border-box;
  padding: 2rem 1.25rem 1.9rem 1.35rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-wrbp-XjP
  .auto-group-v8kh-trm
  .item-1-EQq {
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-wrbp-XjP
  .auto-group-v8kh-trm
  .item-1-YRX {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-wrbp-XjP
  .auto-group-usih-GcR {
  box-sizing: border-box;
  padding: 2rem 1.25rem 1.9rem 1.35rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-wrbp-XjP
  .auto-group-usih-GcR
  .item-1-QCq {
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-wrbp-XjP
  .auto-group-usih-GcR
  .item-1-iDX {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .calnum-qyj .auto-group-fhn1-FUM {
  box-sizing: border-box;
  padding: 0rem 2.1rem 0rem 1.3rem;
  width: 40.5rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 32rem;
  display: flex;
  align-items: center;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-fhn1-FUM
  .item-1-ZE9 {
  width: 5.8rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-fhn1-FUM
  .item-1-5TP {
  margin: 0.1rem 2.6rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-fhn1-FUM
  .item-1-LPK {
  margin: 0.1rem 3.4rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-fhn1-FUM
  .item-1-G25 {
  margin: 0.1rem 2.1rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d0d0d0;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-fhn1-FUM
  .auto-group-koez-B93 {
  margin-right: 2.1rem;
  box-sizing: border-box;
  padding: 2rem 2.1rem 1.9rem 2.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-fhn1-FUM
  .auto-group-koez-B93
  .item-1-7Hb {
  margin-right: 4.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d0d0d0;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-fhn1-FUM
  .auto-group-koez-B93
  .item-1-eHX {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d0d0d0;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-fhn1-FUM
  .item-1-NzD {
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d0d0d0;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .calendar-HPF .calnum-qyj .auto-group-gsf7-HbP {
  box-sizing: border-box;
  padding: 0rem 1.3rem 0rem 1.35rem;
  width: 40.5rem;
  height: 8rem;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-gsf7-HbP
  .item-1-Nsj {
  width: 5.8rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-gsf7-HbP
  .item-1-6Hw {
  width: 5.8rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-gsf7-HbP
  .item-1-QpR {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-gsf7-HbP
  .item-1-MUm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-gsf7-HbP
  .item-1-6hF {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .calendar-HPF
  .calnum-qyj
  .auto-group-gsf7-HbP
  .item-1-cfb {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5d5d5d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .boardmain-fNy {
  width: 49.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .boardmain-fNy .recommain-CNu {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .boardmain-fNy .recommain-CNu .recomtext-9Z3 {
  margin-bottom: 10px;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .auto-group-2bkm-y7f .boardmain-fNy .recommain-CNu .recomtodo-Fry {
  box-sizing: border-box;
  padding: 0.9rem 3.8rem 1.5rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 4rem;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .recommain-CNu
  .recomtodo-Fry
  .profilecircle-BVj {
  width: 6.5rem;
  height: 6.5rem;
  background-color: #d9d9d9;
  border-radius: 3.25rem;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .recommain-CNu
  .recomtodo-Fry
  .auto-group-ag6m-uAq {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .recommain-CNu
  .recomtodo-Fry
  .auto-group-ag6m-uAq
  .userid-SRf {
  margin-bottom: 0.25rem;
  margin-left: 0px;
  display: flex;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .recommain-CNu
  .recomtodo-Fry
  .auto-group-ag6m-uAq
  .this-is-one-line-content-vrd {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #6f655d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .recommain-CNu
  .recomtodo-Fry
  .auto-group-drq3-G9o {
  margin-top: 1.9rem;
  width: 5rem;
  height: 6.7rem;
  position: relative;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .recommain-CNu
  .recomtodo-Fry
  .auto-group-drq3-G9o
  .k-CZF {
  width: 4.5rem;
  height: 2.6rem;
  position: absolute;
  left: 0.2rem;
  top: 4.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .recommain-CNu
  .recomtodo-Fry
  .auto-group-drq3-G9o
  .like-Umf {
  width: 5rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-eLH .auto-group-2bkm-y7f .boardmain-fNy .mostlikemain-jhb {
  margin-bottom: 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketext-gcq {
  margin-bottom: 10px;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo1-z7j {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1rem 4rem 1.5rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  backdrop-filter: blur(0.2rem);
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo1-z7j
  .profilecircle-i3j {
  width: 6.5rem;
  height: 6.5rem;
  background-color: #d9d9d9;
  border-radius: 3.25rem;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo1-z7j
  .auto-group-4rdx-2aD {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo1-z7j
  .auto-group-4rdx-2aD
  .userid-AgR {
  margin-bottom: 0.25rem;
  margin-left: 0px;
  display: flex;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo1-z7j
  .auto-group-4rdx-2aD
  .this-is-one-line-content-6py {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #6f655d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo1-z7j
  .auto-group-zp4z-EwB {
  margin-top: 1.9rem;
  width: 5rem;
  height: 6.8rem;
  position: relative;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo1-z7j
  .auto-group-zp4z-EwB
  .k-b13 {
  width: 4.5rem;
  height: 2.6rem;
  position: absolute;
  left: 0.2rem;
  top: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo1-z7j
  .auto-group-zp4z-EwB
  .like-TJ9 {
  width: 5rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo2-vBj {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1rem 4rem 1.5rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  backdrop-filter: blur(0.2rem);
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo2-vBj
  .profilecircle-c4Z {
  width: 6.5rem;
  height: 6.5rem;
  background-color: #d9d9d9;
  border-radius: 3.25rem;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo2-vBj
  .auto-group-acz5-8Yh {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo2-vBj
  .auto-group-acz5-8Yh
  .userid-sWH {
  margin-bottom: 0.25rem;
  margin-left: 0px;
  display: flex;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo2-vBj
  .auto-group-acz5-8Yh
  .this-is-one-line-content-1Mb {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #6f655d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo2-vBj
  .auto-group-mmry-hER {
  margin-top: 1.9rem;
  width: 5rem;
  height: 6.8rem;
  position: relative;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo2-vBj
  .auto-group-mmry-hER
  .k-dtm {
  width: 4.5rem;
  height: 2.6rem;
  position: absolute;
  left: 0.2rem;
  top: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo2-vBj
  .auto-group-mmry-hER
  .like-weZ {
  width: 5rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo3-DMB {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1rem 4rem 1.5rem 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  backdrop-filter: blur(0.2rem);
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo3-DMB
  .profilecircle-Lgh {
  width: 6.5rem;
  height: 6.5rem;
  background-color: #d9d9d9;
  border-radius: 3.25rem;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo3-DMB
  .auto-group-uzsu-qtM {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo3-DMB
  .auto-group-uzsu-qtM
  .userid-yUm {
  margin-bottom: 0.25rem;
  margin-left: 0px;
  display: flex;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo3-DMB
  .auto-group-uzsu-qtM
  .this-is-one-line-content-VCD {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #6f655d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo3-DMB
  .auto-group-dwd3-dJR {
  margin-top: 1.9rem;
  width: 5rem;
  height: 6.8rem;
  position: relative;
  flex-shrink: 0;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo3-DMB
  .auto-group-dwd3-dJR
  .k-aDf {
  width: 4.5rem;
  height: 2.6rem;
  position: absolute;
  left: 0.2rem;
  top: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.main-eLH
  .auto-group-2bkm-y7f
  .boardmain-fNy
  .mostlikemain-jhb
  .mostliketodo3-DMB
  .auto-group-dwd3-dJR
  .like-dhj {
  width: 5rem;
  height: 4.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.main-eLH .auto-group-2bkm-y7f .boardmain-fNy .goboardbtn-WWd {
  border: transparent;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.32rem;
  color: #8dc3e1;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 4rem;
  flex-shrink: 0;
}
.main-eLH .todayslist-j8V {
  box-sizing: border-box;
  padding: 5.9rem 5.5rem 3.9rem 6.8rem;
  width: 49.5rem;
  height: 64.5rem;
  position: absolute;
  left: 58rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.4199999869);
  border-radius: 4rem;
}
.main-eLH .todayslist-j8V .todoheader-bRb {
  box-sizing: border-box;
  padding-bottom: 0.3rem;
  width: 36.5rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.1rem rgba(66, 66, 66, 0.200000003);
  flex-shrink: 0;
}
.main-eLH .todayslist-j8V .todoheader-bRb .todotitle-ux5 {
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #8dc3e1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .todayslist-j8V .todoheader-bRb .tododate-EDf {
  margin-bottom: 2px;
  margin-right: 0px;
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5f4c3b;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .todayslist-j8V .todoheader-bRb .auto-group-g5y5-xfT {
  /* width: calc(100% - 0.3rem); */
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-eLH .todayslist-j8V .todoheader-bRb .auto-group-g5y5-xfT .todoremain-4iV {
  margin-right: 24.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #38d9a9;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .todayslist-j8V .todoheader-bRb .auto-group-g5y5-xfT .tododay-Cph {
  text-align: right;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #5f4c3b;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .todayslist-j8V .haveto-Voo {
  margin: 0rem 5rem 24.2rem 2.6rem;
  box-sizing: border-box;
  padding-right: 14rem;
  width: calc(100% - 7.6rem);
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.main-eLH .todayslist-j8V .haveto-Voo .checkbox-dQD {
  margin-left: -20px;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.main-eLH .todayslist-j8V .haveto-Voo .todotext-A9F {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .todayslist-j8V .todobottom-62u {
  width: 35rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-eLH .todayslist-j8V .todobottom-62u .auto-group-nalr-Q3b {
  margin-bottom: 1.9rem;
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 2rem;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/insertform-FMB.png');
  flex-shrink: 0;
  border-radius: 40px;
}
.main-eLH .todayslist-j8V .todobottom-62u .doplusbtn-sxm {
  border: transparent;
  width: 3.8rem;
  height: 3.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.main-eLH .mainheader-LrM {
  box-sizing: border-box;
  padding: 1rem 4.2rem 0.9rem 3.2rem;
  width: 159rem;
  height: 14.7rem;
  position: absolute;
  left: 16.5rem;
  top: 4rem;
  display: flex;
  align-items: center;
  background-color: rgba(52, 152, 219, 0.5500000119);
  border-radius: 3rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  backdrop-filter: blur(0.2rem);
}
.main-eLH .mainheader-LrM .headuserprofile-Ewj {
  width: 9rem;
  height: 9rem;
  background-color: #ebebeb;
  border-radius: 4.5rem;
  flex-shrink: 0;
}
.main-eLH .mainheader-LrM .auto-group-rn1p-xcq {
  margin-right: 94.7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-eLH .mainheader-LrM .auto-group-rn1p-xcq .weathericon-WeM {
  margin: 1rem 1rem 1rem 1rem;
  width: 4rem;
  height: 4rem;
  background-color: #eb4141;
  border-radius: 2rem;
  flex-shrink: 0;
}
.main-eLH .mainheader-LrM .auto-group-rn1p-xcq .userid-DHs {
  display: flex;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.35rem;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.main-eLH .mainheader-LrM .todoksidelogo-78M {
  width: 13rem;
  height: 10rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
