@font-face {
  font-family: 'Nanum AmSeuTeReuDam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Amsterdam.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
  background-image: url(../assets/bg.png);
  font-family: 'Nanum AmSeuTeReuDam', serif;
}
* {
  margin: auto;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 192rem;
}
.myaccount-Grd {
  box-sizing: border-box;
  padding: 2rem 10rem 3rem 10rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.myaccount-Grd .profilebox-xUZ {
  margin-right: 3.9rem;
  box-sizing: border-box;
  padding: 4.4rem 8.5rem 7.4rem 8.5rem;
  width: 43.4rem;
  height: 85rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(52, 152, 219, 0.5500000119);
  border-radius: 4rem;
  flex-shrink: 0;
}
.myaccount-Grd .profilebox-xUZ .profile-FTf {
  margin: 0rem 2.05rem 3.2rem 2.7rem;
  width: calc(100% - 4.75rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.myaccount-Grd .profilebox-xUZ .profile-FTf .auto-group-rhqm-mgu {
  box-sizing: border-box;
  padding: 0rem 3.75rem 0.7rem 3.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.myaccount-Grd
  .profilebox-xUZ
  .profile-FTf
  .auto-group-rhqm-mgu
  .profilcricle-tmX {
  margin-bottom: 0.0469rem;
  width: 14.1rem;
  height: 14.1531rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.myaccount-Grd .profilebox-xUZ .profile-FTf .auto-group-rhqm-mgu .userid-maR {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.25rem;
  color: #f1f9ff;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.myaccount-Grd .profilebox-xUZ .profile-FTf .auto-group-cga5-FVb {
  width: 100%;
  height: 7.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.myaccount-Grd
  .profilebox-xUZ
  .profile-FTf
  .auto-group-cga5-FVb
  .auto-group-mokv-Pbo {
  margin: 0.55rem 3.1rem 0.75rem 0rem;
  width: 7.5rem;
  height: calc(100% - 1.3rem);
  position: relative;
  flex-shrink: 0;
}
.myaccount-Grd .profilebox-xUZ .profile-FTf .auto-group-cga5-FVb .whiteline {
  margin-right: 3.25rem;
  width: 2px;
  height: 7.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
  background-color: #f1f9ff;
}
.myaccount-Grd
  .profilebox-xUZ
  .profile-FTf
  .auto-group-cga5-FVb
  .auto-group-mokv-Pbo
  .k-WRX {
  width: 7.5rem;
  height: 3.8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.15rem;
  color: #f1f9ff;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.myaccount-Grd
  .profilebox-xUZ
  .profile-FTf
  .auto-group-cga5-FVb
  .auto-group-mokv-Pbo
  .like-CJM {
  width: 4.2rem;
  height: 3.2rem;
  position: absolute;
  left: 1.15rem;
  top: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.125rem;
  color: #f1f9ff;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.myaccount-Grd
  .profilebox-xUZ
  .profile-FTf
  .auto-group-cga5-FVb
  .divlnprofile-q6R {
  margin-right: 3.25rem;
  width: 0;
  height: 7.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.myaccount-Grd
  .profilebox-xUZ
  .profile-FTf
  .auto-group-cga5-FVb
  .auto-group-ezzz-YmX {
  margin: 0.55rem 0rem 0.75rem 0rem;
  width: 7.8rem;
  height: calc(100% - 1.3rem);
  position: relative;
  flex-shrink: 0;
}
.myaccount-Grd
  .profilebox-xUZ
  .profile-FTf
  .auto-group-cga5-FVb
  .auto-group-ezzz-YmX
  .item-50-dny {
  width: 3.3rem;
  height: 3.8rem;
  position: absolute;
  left: 2.25rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.15rem;
  color: #f1f9ff;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.myaccount-Grd
  .profilebox-xUZ
  .profile-FTf
  .auto-group-cga5-FVb
  .auto-group-ezzz-YmX
  .my-list-hXw {
  width: 7.8rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.125rem;
  color: #f1f9ff;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.myaccount-Grd .profilebox-xUZ .mypagemenu-3ER {
  margin: 0rem 4rem 9.65rem 3.9rem;
  width: calc(100% - 7.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.myaccount-Grd .profilebox-xUZ .mypagemenu-3ER .myaccount-Mku {
  margin-top: 40px;
  margin-bottom: 3.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.16rem;
  color: #f1f9ff;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
}
.myaccount-Grd .profilebox-xUZ .mypagemenu-3ER .mytodolist-rBs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.16rem;
  color: #f1f9ff;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
}
.myaccount-Grd .profilebox-xUZ .mypagemenu-3ER .logout-qs3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.16rem;
  color: #f1f9ff;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  margin-top: 50px;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
}
.myaccount-Grd .profilebox-xUZ .todoksidelogo-LMw {
  width: 13.2rem;
  height: 9.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.myaccount-Grd .auto-group-pd2h-Dgd {
  margin-bottom: 6.5rem;
  width: 124.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.myaccount-Grd .auto-group-pd2h-Dgd .mypagetitle-MH3 {
  box-sizing: border-box;
  padding: 4.75rem 5.6rem 3.55rem 5.6rem;
  width: 100%;
  display: flex;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #8dc3e1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 4rem;
  flex-shrink: 0;
}
.myaccount-Grd .auto-group-pd2h-Dgd .auto-group-ynrd-PUd {
  box-sizing: border-box;
  padding: 4.1rem 0rem 0rem 0.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.myaccount-Grd .auto-group-pd2h-Dgd .auto-group-ynrd-PUd .auto-group-ktu7-K7P {
  margin-bottom: 4.4rem;
  width: 100%;
  height: 40.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .auto-group-eq3f-q5j {
  margin-right: 4.6rem;
  width: 60rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .auto-group-eq3f-q5j
  .infoname-L2V {
  margin-bottom: 4.4rem;
  width: 100%;
  height: 10.6rem;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 4rem;
  flex-shrink: 0;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .auto-group-eq3f-q5j
  .infoname-L2V
  .infotitle-FfF {
  width: 11.9rem;
  height: 6.3rem;
  position: absolute;
  left: 6.8rem;
  top: 0.05rem;
  display: flex;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .auto-group-eq3f-q5j
  .infoname-L2V
  .infovalue-jqK {
  width: 21.7rem;
  height: 4.5rem;
  position: absolute;
  left: 9rem;
  top: 5.15rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  background-color: transparent;
  outline: none;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .auto-group-eq3f-q5j
  .infonickname-BxD {
  margin-bottom: 4.35rem;
  width: 100%;
  height: 10.6rem;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 4rem;
  flex-shrink: 0;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .auto-group-eq3f-q5j
  .infonickname-BxD
  .infotitle-Y25 {
  width: 20.6rem;
  height: 6.3rem;
  position: absolute;
  left: 6.5rem;
  top: 0.05rem;
  display: flex;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .auto-group-eq3f-q5j
  .infonickname-BxD
  .infovalue-2xq {
  width: 18.5rem;
  height: 4.5rem;
  position: absolute;
  left: 9.1rem;
  top: 5.15rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  background-color: transparent;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .auto-group-eq3f-q5j
  .infoemail-sTf {
  width: 100%;
  height: 10.75rem;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.2rem);
  border-radius: 4rem;
  flex-shrink: 0;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .auto-group-eq3f-q5j
  .infoemail-sTf
  .infobox-buT {
  width: 60rem;
  height: 10.6rem;
  position: absolute;
  left: 0;
  top: 0.15rem;
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 4rem;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .auto-group-eq3f-q5j
  .infoemail-sTf
  .infotitle-tNm {
  width: 11.7rem;
  height: 6.3rem;
  position: absolute;
  left: 6.5rem;
  top: 0;
  display: flex;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .auto-group-eq3f-q5j
  .infoemail-sTf
  .infovalue-CPT {
  width: 47.3rem;
  height: 4.5rem;
  position: absolute;
  left: 9.1rem;
  top: 5.1rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  background-color: transparent;
  outline: none;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .editpic-skV {
  box-sizing: border-box;
  padding: 2.15rem 17.15rem 8.4rem 17.15rem;
  width: 60rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 4rem;
  flex-shrink: 0;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .editpic-skV
  .infotitle-CXs {
  margin-bottom: 4.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.225rem;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-ktu7-K7P
  .editpic-skV
  .profilcricle-XKF {
  margin: 0 2.85rem;
  width: calc(100% - 5.7rem);
  height: 20rem;
  background-color: #ab61b7;
  border-radius: 10rem;
  flex-shrink: 0;
}
.myaccount-Grd .auto-group-pd2h-Dgd .auto-group-ynrd-PUd .auto-group-vc2d-nFB {
  margin-right: 22.7rem;
  width: calc(100% - 22.7rem);
  height: 17rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-vc2d-nFB
  .infopassword-5zy {
  width: 60rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.2rem);
  background-color: rgba(255, 255, 255, 0.400000006);
  border-radius: 4rem;
  flex-shrink: 0;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-vc2d-nFB
  .infopassword-5zy
  .infotitle-R3F {
  width: 20.2rem;
  height: 6.3rem;
  position: absolute;
  left: 6.5rem;
  top: 1.15rem;
  display: flex;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-vc2d-nFB
  .infopassword-5zy
  .infovalue-vkh {
  width: 40rem;
  height: 4.5rem;
  position: absolute;
  left: 9.1rem;
  top: 6.25rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  background-color: transparent;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-vc2d-nFB
  .infopassword-5zy
  .infochk-qsf {
  width: 40rem;
  height: 4.5rem;
  position: absolute;
  left: 9.1rem;
  top: 10.55rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #70665d;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  background-color: transparent;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-vc2d-nFB
  .auto-group-3imf-usX {
  box-sizing: border-box;
  padding: 5.9rem 0rem 1rem 3.9rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  position: relative;
  left: 13.8rem;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-vc2d-nFB
  .auto-group-3imf-usX
  .compledit-qWH {
  margin: 0rem 4rem 0.1rem 0rem;
  width: 17rem;
  height: 10rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.175rem;
  color: #f1f9ff;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(52, 152, 219, 0.5500000119);
  border-radius: 4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.2rem);
  flex-shrink: 0;
  border: none;
}
.myaccount-Grd
  .auto-group-pd2h-Dgd
  .auto-group-ynrd-PUd
  .auto-group-vc2d-nFB
  .auto-group-3imf-usX
  .canceledit-EoK {
  width: 17rem;
  height: 10rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.175rem;
  color: #f1f9ff;
  font-family: Nanum AmSeuTeReuDam, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background-color: rgba(52, 152, 219, 0.5500000119);
  border-radius: 4rem;
  flex-shrink: 0;
  border: none;
}
