function addTodo() {

      const todoInput = document.getElementById('todoInput');
      const todoText = todoInput.value.trim();
      const addButton = document.querySelector('.todo-input button');

      // todo_no  값을 저장할 hidden input 추가
      const tno = document.createElement('input');
      tno.type = 'hidden';
      tno.classList.add('todo_no');

      if (todoText !== '') {

        // 할 일이 비어있지 않으면 DB에 입력값 INSERT
        sendTodoToServer(tno);

        // 할 일이 비어있지 않으면 투두리스트에 추가
        const todosContainer = document.querySelector('.todos');
        const newTodoItem = document.createElement('li');

        // 체크박스 추가
        const checkbox = document.createElement('input');
        checkbox.type = 'checkbox';
        checkbox.addEventListener('change', function () {

          // 투두 checked 값을 동기화하기 위해 DB update 함수 호출
          console.log('여기는 addTodo() 속 if 절 속 체크박스 추가!');
          updateCheckedTodo(tno, checkbox);

          // 체크박스 상태에 따라 completed 클래스를 추가 또는 제거
          newTodoItem.classList.toggle('completed', checkbox.checked);
          updateRemainingTodos();
        });

        // 할 일 텍스트 표시
        const todoTextElement = document.createElement('span');
        todoTextElement.textContent = todoText;

        // 삭제 버튼 추가
        const deleteButton = document.createElement('div');
        deleteButton.textContent = '';
        deleteButton.style.display = 'none'; // 초기에는 삭제 버튼을 숨김
        deleteButton.addEventListener('click', deleteTodo);

        // 이미지를 담을 img 요소 생성
        const deleteImage = document.createElement('img');
        deleteImage.src =
          '${pageContext.request.contextPath}/assets/delete-icon.png'; // 이미지 경로 설정
        deleteImage.alt = 'Delete'; // 이미지 대체 텍스트 설정
        deleteButton.appendChild(deleteImage); // 이미지를 삭제 버튼에 추가
        // src="${pageContext.request.contextPath}/assets/like-RBX.png"
        // 마우스 이벤트를 통해 삭제 버튼을 보이게/숨기게 처리
        newTodoItem.addEventListener('mouseover', function () {
          deleteButton.style.display = 'inline-block';
        });

        newTodoItem.addEventListener('mouseout', function () {
          deleteButton.style.display = 'none';
        });

        // 투두 아이템에 체크박스, 텍스트, 삭제 버튼 추가
        newTodoItem.appendChild(tno);
        newTodoItem.appendChild(checkbox);
        newTodoItem.appendChild(todoTextElement);
        newTodoItem.appendChild(deleteButton);
        todosContainer.appendChild(newTodoItem);

        updateRemainingTodos(); // 추가 후 "남은 할 일 n개" 업데이트

        // 추가 후 입력 폼 초기화
        todoInput.value = '';
      }
    }
