<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.spring.todoproject.login.mapper.ILoginMapper">

	<resultMap type="com.spring.todoproject.login.naver.NaverLoginRequestDTO" id="naverlogin">
		<result property="id" column="user_id"/>
		<result property="token" column="user_pw"/>
		<result property="name" column="name"/>
		<result property="nickname" column="nickname"/>
		<result property="email1" column="email1"/>
		<result property="email2" column="email2"/>
		<result property="profile_color" column="profile_color"/>
		
	</resultMap>
	

	
	
	
	<select id="login" resultType="string">
		SELECT 
    		user_pw
		FROM users
		WHERE user_id = #{userId}
	</select>
	
	
	<select id="naverlogintest" resultType="string">
		SELECT user_id
		FROM users
		WHERE email1 = #{email1}
		AND email2 = #{email2}
	</select>
	
	<insert id="naverlogininsert">
		INSERT INTO users
		VALUES (#{userId}, #{userPw}, #{name}, #{nickname}, #{email1}, #{email2}, #{profile_color})
	</insert>



</mapper>
