<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.todoproject.user.mapper.IUserMapper">


	<!-- 이렇게 해주는거 귀찮 그냥 이름 맞춰주자 -> 이러면 안됌. <resultMap type="" id=""></resultMap> 
		Mybatis의 설정에 이름 바꾸는 설정을 작성해서 적용시켜준다 -> 더이상 이렇게 매번 작성하지 않아도 된다 -->

	<insert id="insertUserData">
		INSERT INTO users
			(user_id, user_pw, name, nickname, email1, email2)
		VALUES
			(#{userId}, #{userPw}, #{name}, #{nickName}, #{email1}, #{email2})
	</insert>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*)
		FROM users
		WHERE user_id = #{id}
	</select>

	<!-- # 동적 SQL 쿼리 태그로 조건문을 사용하여 쿼리의 실행을 동적으로 제어할 수 있는 문법 중복된 SQL 쿼리를 피할 수 
		있고, 상황에 따른 능동적 대처가 가능합니다. 미리 쿼리문을 준비해 놓고, <include refid="이름(id)" /> 를 통해 
		삽입하여 사용합니다. -->



	<!-- CDATA: Character Data의 약자로, 마크업 언어에서 문자열 데이터를 표기하기 위한 문법입니다. 특수 문자 
		등을 순수한 문자로 표기하고 싶을 때 사용하는 태그입니다. -->


</mapper>















